<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUGJjlnQAoFhkPRPMEsXXKP41al_Bjwko</string>
	<key>GCM_SENDER_ID</key>
	<string>956777547394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.mangkat.mangkatAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mangkat-mage</string>
	<key>STORAGE_BUCKET</key>
	<string>mangkat-mage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956777547394:ios:b08b82d2983ff71a45169b</string>
	<key>DATABASE_URL</key>
	<string>https://mangkat-mage-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>